# 문제 14
n명의 사람 이름 중에 같은 이름을 찾아 집합으로 만들어 돌려주는 알고리즘을 만들어 보세요.

딕셔너리라는 자료 구조를 이용해서 문제 풀기

In [10]:
## 딕셔너리 설명

d={"Justin":13, "John":10, "Mike":9}
d["Justin"]

13

In [3]:
d["John"]

10

In [5]:
d["Summer"]

KeyError: 'Summer'

In [6]:
d["Summer"]=1

In [7]:
d["Summer"]

1

In [8]:
d

{'Justin': 13, 'John': 10, 'Mike': 9, 'Summer': 1}

In [9]:
# 빈 딕셔너리 만들기

d={}
# 또는
d=dict()

In [12]:
"John" in d

True

딕셔너리=   {"이름1": 이름 1이 등장한 횟수,
    "이름2": 이름 2이 등장한 횟수,
    "이름3": 이름 3이 등장한 횟수}

["Tom", "Jerry", "Tom"]이라고 하면   
name_dict={"Tom":2, "Jerry":1} 이런식으로 바꿔주기

In [17]:
def same_name(a):
    name_dict={}
    for i in a:
        if i not in name_dict:
            name_dict[i]=1
        else:
            name_dict[i]+=1
    return name_dict

In [18]:
name_info=["Tom", "Jerry", "Tom"]
same_name(name_info)

{'Tom': 2, 'Jerry': 1}

In [21]:
# 책

def same_name(a):
    name_dict={}
    for i in a:
        if i not in name_dict:
            name_dict[i]=1
        else:
            name_dict[i]+=1
    result=[]
    for name in name_dict:
        if name_dict[name]>=2:
            result.append(name)
    return result

In [22]:
name_info=["Tom", "Jerry", "Tom"]
same_name(name_info)

['Tom']

## 연습문제 14-1  
학생 번호로 학생 이름을 찾는 문제를 딕셔너리를 이용해 풀어주세요.   
학생 번호와 이름이 주어져 있을 때, 학생 번호를 입력하면 학생 이름을 돌려주고, 학생 번호가 없으면 물음표를 돌려줘야한다.

In [31]:
def find_name(a, x):
    for i in a:
        if i==x:
            return a[i]
        else:
            return "?"

In [32]:
a={39:"Justin", 14: "John", 67:"Mike", 105: "Summer"}
find_name(a,39)

'Justin'

In [33]:
#책 

def get_name(s_info, find_no):
    if find_no in s_info:
        return s_info[find_no]
    else:
        return "?"

In [34]:
a={39:"Justin", 14: "John", 67:"Mike", 105: "Summer"}
get_name(a, 39)

'Justin'