In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

### Question 
Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ Ï∂úÎ†•ÌïòÎùº (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [14]:
ans=list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
print(ans)

['Ïû•ÏÇêÏ≠à', 'Ï¥ùÎ™áÎ™Ö', 'ÌååÎøåÎ¶¨', 'Ïß§Ìà∞', 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê', 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê', 'SPOTV', 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº', 'Ïù¥Í≥ºÏû•', 'BANGTANTV']

In [13]:
df.channelId.value_counts().head(10)

UCszFjh7CEfwDb7UUGb4RzCQ    372
UClzB2iZ5jPoTNz0S-QU6Wiw    318
UCtm_QoN2SIxwCE-59shX7Qg    318
UCaKod3X1Tn4c7Ci0iUKcvzQ    313
UCiwQRG2sCcfjKkgxMEdJGPg    293
UChbE5OZQ6dRHECsX0tEPEZQ    283
UCLkAepWjdylmXSltofFvsYQ    275
UCQ2O-iftmnlfrBuNsUUTofQ    274
UCtfriFvIe5gIe8wRWb8UTMg    258
UCRuSxVu4iqTK5kCh90ntAgA    255
Name: channelId, dtype: int64

In [11]:
df.channelId.value_counts().head(10).index

Index(['UCszFjh7CEfwDb7UUGb4RzCQ', 'UClzB2iZ5jPoTNz0S-QU6Wiw',
       'UCtm_QoN2SIxwCE-59shX7Qg', 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
       'UCiwQRG2sCcfjKkgxMEdJGPg', 'UChbE5OZQ6dRHECsX0tEPEZQ',
       'UCLkAepWjdylmXSltofFvsYQ', 'UCQ2O-iftmnlfrBuNsUUTofQ',
       'UCtfriFvIe5gIe8wRWb8UTMg', 'UCRuSxVu4iqTK5kCh90ntAgA'],
      dtype='object')

### Question
ÎÖºÎûÄÏúºÎ°ú Ïù∏Í∏∞ÎèôÏòÅÏÉÅÏù¥ Îêú ÏºÄÏù¥Ïä§Î•º ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. dislikesÏàòÍ∞Ä like ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [18]:
print(df.loc[df.dislikes>df.likes].channelTitle.unique())

['Ìï´ÎèÑÍ∑∏TV' 'ASMR Ïï†Ï†ïTV' 'ÌïòÏñÄÌä∏Î¶¨HayanTree' 'ÏñëÌå° YangPang' 'Ï≤†Íµ¨Ìòï (CHULTUBE)'
 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§' '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä' 'Ïò§Î©îÌÇ¥TV' 'Ïú°ÏßÄÎã¥' 'MapleStory_KR'
 'ROAD FIGHTING CHAMPIONSHIP' 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà' 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO' 'Gen.G esports']

### Question
Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [34]:
change=df[['channelId', 'channelTitle']].drop_duplicates().channelId.value_counts()
ans = change[change>1]
print(len(ans))

71

### Question
ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§Ï§ë Í∞ÄÏû•ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?

In [41]:
df['trending_date3']= pd.to_datetime(df['trending_date2'])

In [52]:
df['dayname']=df['trending_date3'].dt.day_name()

In [58]:
print(df[df['dayname']=='Sunday'].categoryId.value_counts().index[0])

24

### Question
Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞ú Ïî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº

In [68]:
group = df.groupby(['dayname', 'categoryId'], as_index=False).size()

In [69]:
group

       dayname  categoryId  size
0       Friday           1   243
1       Friday           2   120
2       Friday          10   833
3       Friday          15   187
4       Friday          17   633
..         ...         ...   ...
100  Wednesday          25   468
101  Wednesday          26   385
102  Wednesday          27   212
103  Wednesday          28   165
104  Wednesday          29    12

[105 rows x 3 columns]

In [71]:
group.pivot(index='categoryId', columns='dayname', values='size')

dayname     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

### Question
ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [92]:
aa=df[df.view_count!=0]
ans=aa[aa.comment_count/aa.view_count==max(aa.comment_count/aa.view_count)].title
print(ans)

50830    60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)
Name: title, dtype: object

In [103]:
aa=df[df.view_count!=0]
aa['ratio']=(df.comment_count/df.view_count).dropna()
abc=aa[aa['ratio']!=0]
print(abc.sort_values(by='ratio', ascending=False).iloc[0].title)

60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)

/var/folders/2w/p0pl3hm93j79mtz1wnlcgq1c0000gn/T/ipykernel_1920/988039640.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aa['ratio']=(df.comment_count/df.view_count).dropna()

### Question
ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§.viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_counts, ratioÍ∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§.)

In [102]:
aa=df[df.view_count!=0]
aa['ratio']=(aa.comment_count/aa.view_count).dropna()
abc = aa[aa['ratio']!=0]
print(abc.sort_values(by='ratio', ascending=True).iloc[0].title)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

/var/folders/2w/p0pl3hm93j79mtz1wnlcgq1c0000gn/T/ipykernel_1920/897715836.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aa['ratio']=(aa.comment_count/aa.view_count).dropna()

### Question
like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [104]:
dd = df[df.likes!=0]
dd['ratio']=(dd['dislikes']/dd['likes']).dropna()
dd=dd[dd['ratio']!=0]
print(dd.sort_values(by='ratio', ascending=True).iloc[0].title)

[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞

/var/folders/2w/p0pl3hm93j79mtz1wnlcgq1c0000gn/T/ipykernel_1920/3278474853.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['ratio']=(dd['dislikes']/dd['likes']).dropna()

### Question
Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [108]:
print(df.channelTitle.value_counts().index[0])

Ïß§Ìà∞

In [109]:
answer = df.loc[df.channelId ==df.channelId.value_counts().index[0]].channelTitle.unique()[0]

### Question
20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?

In [135]:
df[['title','channelId']].value_counts()>=20

title                                                           channelId
ÏªµÎùºÎ©¥ Î®πÏùÑ Îïå Ï†àÎåÄ ÏùºÏñ¥ÎÇ†Î¶¨ ÏóÜÎäî ÏÉÅÌô©Îì§ „Öã„Öã„Öã                                     UCmzMtXrJgfCqA0rfhz8_P4A     True
ÎåÄÌïúÎØºÍµ≠ VS Ìà¨Î•¥ÌÅ¨Î©îÎãàÏä§ÌÉÑ : FIFA Ïπ¥ÌÉÄÎ•¥ ÏõîÎìúÏªµ 2Ï∞® ÏòàÏÑ† ÌïòÏù¥ÎùºÏù¥Ìä∏ - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw     True
Í∑πÍ≥º Í∑πÏùÑ ÏÇ¥Í≥† ÏûàÎäî Ïù∏ÎèÑÏùò Í∞ëÎ∂ÄÏôÄ ÎπàÍ≥§Ï∏µÎì§!                                       UCi9Sl8GnFdYoqEVXnojBPJw     True
2Ï£ºÎçîÎÜÄÎ¶¥ÏòàÏ†ï                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ     True
ÎåÄÎ∞ï... Î©ßÎèºÏßÄÎ•º ÏïÑÎì§Î°ú ÏÇºÏùÄ Ìï†ÏïÑÎ≤ÑÏßÄÔΩúKBS Ï£ºÏ£ºÌÅ¥ÎüΩ 050410 Î∞©ÏÜ°                       UCAhKKbDO9-ymWZ_7iAFLBQQ     True
                                                                                            ...
Ï≤úÏû¨ ÏπúÍµ¨ Ìô©Î¥âÌô© [Ï¥ùÎ™áÎ™Ö Ïä§ÌÜ†Î¶¨2]                                            UCRuSxVu4iqTK5kCh90ntAgA    False
Îã¥Î∞∞Ï∂© [Î≥ëÎßõÎçîÎπô/ÏõÉÍ∏¥ÏòÅÏÉÅ]                                                 UCUK4YjvUvHrFQwTFXwkUIng    False
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA    False
[ÏõîÎìúÏªµÏµúÏ¢ÖÏòàÏÑ†] Ïò§Îßå VS Î≤†Ìä∏ÎÇ® 4Ï∞®Ï†Ñ H/L„Ö£AFC ÏïÑÏãúÏïÑÏßÄÏó≠ ÏõîÎìúÏªµ ÏµúÏ¢ÖÏòàÏÑ†                  UCtybqqaTj6Nx74Azdz1KrsA    False
ÍπêÎ∂ÄÎÅºÎ¶¨Îäî ÎãàÍ∫º ÎÇ¥Í∫ºÍ∞Ä ÏóÜÎäîÍ±∞Ïïº                                               UCu9BCtGIEr73LXZsKmoujKw    False
Length: 7867, dtype: bool

In [132]:
answer= (df[['title','channelId']].value_counts()>=20).sum()
print(answer)

40