In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [26]:
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
x_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv")

In [3]:
x_train.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

In [8]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB

In [6]:
y_train.head()

   enrollee_id  target
0        25298     0.0
1         4241     1.0
2        24086     0.0
3        26773     0.0
4        32325     1.0

In [7]:
x_train.shape

(12452, 13)

In [27]:
x_train = x_train.fillna('unknown')
x_test = x_test.fillna('unknown')

In [13]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6706 entries, 0 to 6705
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             6706 non-null   int64
 1   city                    6706 non-null   object
 2   city_development_index  6706 non-null   float64
 3   gender                  6706 non-null   object
 4   relevent_experience     6706 non-null   object
 5   enrolled_university     6706 non-null   object
 6   education_level         6706 non-null   object
 7   major_discipline        6706 non-null   object
 8   experience              6706 non-null   object
 9   company_size            6706 non-null   object
 10  company_type            6706 non-null   object
 11  last_new_job            6706 non-null   object
 12  training_hours          6706 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 681.2+ KB

In [28]:
object_col=x_train.select_dtypes(include ='object').columns.to_list()

In [29]:
for col in object_col:
    print(x_train[col].unique())
    print(len(x_train[col].unique()))

['city_138' 'city_160' 'city_57' 'city_16' 'city_143' 'city_105'
 'city_102' 'city_136' 'city_103' 'city_21' 'city_114' 'city_81' 'city_64'
 'city_67' 'city_1' 'city_75' 'city_144' 'city_100' 'city_12' 'city_50'
 'city_118' 'city_61' 'city_97' 'city_71' 'city_70' 'city_90' 'city_11'
 'city_149' 'city_98' 'city_73' 'city_23' 'city_99' 'city_9' 'city_162'
 'city_14' 'city_40' 'city_77' 'city_7' 'city_104' 'city_65' 'city_89'
 'city_173' 'city_152' 'city_28' 'city_123' 'city_91' 'city_145'
 'city_159' 'city_116' 'city_150' 'city_19' 'city_83' 'city_45' 'city_78'
 'city_115' 'city_76' 'city_155' 'city_74' 'city_101' 'city_46' 'city_24'
 'city_146' 'city_44' 'city_111' 'city_42' 'city_158' 'city_128'
 'city_165' 'city_36' 'city_79' 'city_18' 'city_93' 'city_20' 'city_2'
 'city_10' 'city_141' 'city_72' 'city_41' 'city_134' 'city_27' 'city_107'
 'city_175' 'city_37' 'city_94' 'city_62' 'city_13' 'city_53' 'city_69'
 'city_176' 'city_84' 'city_30' 'city_126' 'city_26' 'city_167' 'city_25'
 'city_48' 'city_59' 'city_131' 'city_8' 'city_33' 'city_142' 'city_109'
 'city_157' 'city_80' 'city_43' 'city_82' 'city_133' 'city_120' 'city_139'
 'city_180' 'city_117' 'city_54' 'city_121' 'city_129' 'city_31' 'city_39'
 'city_127' 'city_179' 'city_55' 'city_106' 'city_166' 'city_140']
122
['Male' 'unknown' 'Female' 'Other']
4
['No relevent experience' 'Has relevent experience']
2
['Full time course' 'no_enrollment' 'Part time course' 'unknown']
4
['High School' 'Graduate' 'Primary School' 'Masters' 'Phd' 'unknown']
6
['unknown' 'STEM' 'Other' 'Humanities' 'No Major' 'Business Degree' 'Arts']
7
['5' '10' '>20' '6' '14' '20' '7' '9' '8' '4' '3' '13' '16' '2' '12' '15'
 '11' '1' '<1' '17' '18' 'unknown' '19']
23
['100-500' 'unknown' '50-99' '10/49' '10000+' '1000-4999' '<10' '500-999'
 '5000-9999']
9
['Pvt Ltd' 'unknown' 'Public Sector' 'NGO' 'Funded Startup'
 'Early Stage Startup' 'Other']
7
['1' '>4' 'never' '2' '4' '3' 'unknown']
7

In [30]:
x_train = x_train.drop(['enrollee_id', 'city'], axis=1)
x_test= x_test.drop(['enrollee_id', 'city'], axis=1)

In [32]:
for col in object_col[1:]:
    le = LabelEncoder()
    le.fit(x_train[col])
    x_train[col] = le.transform(x_train[col])
    x_test[col] = le.transform(x_test[col])

In [34]:
scaler = ['city_development_index', 'training_hours']
minmax = MinMaxScaler()
minmax.fit(x_train[scaler])
x_train[scaler] = minmax.transform(x_train[scaler])
x_test[scaler] = minmax.transform(x_test[scaler])

### model

In [41]:
model = RandomForestClassifier()
params = {'n_estimators':[10,100],
          'max_depth':[6,8,10,12],
         'min_samples_leaf': [8, 12, 16],
         'min_samples_split': [8,16,20]}

grid_cv = GridSearchCV(model, param_grid=params, cv = 3, n_jobs=-1)
grid_cv.fit(x_train, y_train['target'])

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'max_depth': [6, 8, 10, 12],
                         'min_samples_leaf': [8, 12, 16],
                         'min_samples_split': [8, 16, 20],
                         'n_estimators': [10, 100]})

In [42]:
print(grid_cv.best_estimator_)
print(grid_cv.best_score_)

RandomForestClassifier(max_depth=8, min_samples_leaf=16, min_samples_split=20)
0.7985860086938938

In [43]:
model = RandomForestClassifier(max_depth=8, min_samples_leaf=16, min_samples_split=20)
model.fit(x_train, y_train['target'])

RandomForestClassifier(max_depth=8, min_samples_leaf=16, min_samples_split=20)

In [45]:
model.score(x_train, y_train['target'])

0.81215868936717

In [46]:
pred=model.predict_proba(x_test)

In [47]:
pred

array([[0.58338457, 0.41661543],
       [0.64397012, 0.35602988],
       [0.53104235, 0.46895765],
       ...,
       [0.86560701, 0.13439299],
       [0.64458234, 0.35541766],
       [0.83743347, 0.16256653]])

In [54]:
pd.DataFrame({'enrollee_id': y_test['enrollee_id'], 'target':pred[:,1]}).to_csv('222.csv', index=False)

In [55]:
df = pd.read_csv('222.csv')
print(df)

      enrollee_id    target
0            7129  0.416615
1           31037  0.356030
2           22179  0.468958
3           29724  0.401969
4           17977  0.119143
...           ...       ...
6701         3601  0.110775
6702         2745  0.457592
6703        18520  0.134393
6704        10067  0.355418
6705         8203  0.162567

[6706 rows x 2 columns]

In [59]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test['target'], df['target'])

0.7467974353344625