In [36]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/x_test.csv")


display(x_train.head())
display(y_train.head())

   ID  Age Sex      BP Cholesterol  Na_to_K
0   0   36   F  NORMAL        HIGH   16.753
1   1   47   F     LOW        HIGH   11.767
2   2   69   F  NORMAL        HIGH   10.065
3   3   35   M     LOW      NORMAL    9.170
4   4   49   M     LOW      NORMAL   11.014

   ID  Drug
0   0     0
1   1     3
2   2     4
3   3     4
4   4     4

In [37]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           157 non-null    int64
 1   Age          157 non-null    int64
 2   Sex          157 non-null    object
 3   BP           157 non-null    object
 4   Cholesterol  157 non-null    object
 5   Na_to_K      157 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 7.5+ KB

In [38]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [39]:
obj=list(x_train.select_dtypes(include='object').columns)
ncol=list(x_train.select_dtypes(exclude='object').columns)[1:]

In [40]:
ncol

['Age', 'Na_to_K']

In [41]:
for col in obj:
    le = LabelEncoder()
    le.fit(x_train[col])
    x_train[col]=le.transform(x_train[col])
    x_test[col]=le.transform(x_test[col])

In [43]:
minmax = MinMaxScaler()
minmax.fit(x_train[ncol])
x_train[ncol]=minmax.transform(x_train[ncol])
x_test[ncol]=minmax.transform(x_test[ncol])

In [48]:
train = x_train.drop(['ID'],axis=1)

In [52]:
model = RandomForestClassifier()
params = {'n_estimators':[10, 100],
         'min_samples_leaf': [8,12,16],
         'min_samples_split': [2,6,8,16],
         'max_depth':[8, 12,16,20]}

grid_cv = GridSearchCV(model, param_grid=params, cv=3, n_jobs=-1)
grid_cv.fit(train, y_train['Drug'])

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'max_depth': [8, 12, 16, 20],
                         'min_samples_leaf': [8, 12, 16],
                         'min_samples_split': [2, 6, 8, 16],
                         'n_estimators': [10, 100]})

In [49]:
y_train

      ID  Drug
0      0     0
1      1     3
2      2     4
3      3     4
4      4     4
..   ...   ...
152  194     4
153  195     0
154  196     0
155  198     1
156  199     4

[157 rows x 2 columns]

In [55]:
test = x_test.drop(['ID'], axis=1)

In [53]:
print(grid_cv.best_params_)
print(grid_cv.best_score_)

{'max_depth': 8, 'min_samples_leaf': 8, 'min_samples_split': 6, 'n_estimators': 100}
0.9172714078374457

In [56]:
model = RandomForestClassifier(max_depth=8, min_samples_leaf=8, min_samples_split=6, n_estimators=100)
model.fit(train, y_train['Drug'])
model.predict(test)

array([0, 4, 1, 4, 0, 4, 4, 4, 0, 1, 2, 4, 4, 2, 2, 2, 4, 1, 0, 4, 4, 0,
       1, 1, 0, 4, 2, 0, 0, 4, 4, 0, 4, 0, 4, 1, 0, 0, 0, 0, 1, 3, 0])

In [58]:
y_test=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/y_test.csv')

In [60]:
model.score(test, y_test['Drug'])

0.9534883720930233