## 작업 1유형

In [31]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

### Q1 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0\~9 : 0 , 10\~19 : 10)

In [2]:
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

In [3]:
df['age']= df['age']//10

In [6]:
age_count=dict()
for i in df['age']:
    if i not in age_count:
        age_count[i] = 1
    else:
        age_count[i] += 1
print(age_count)

{2: 1638, 3: 5056, 4: 3198, 5: 2244, 9: 6, 7: 193, 6: 460, 8: 57, 1: 18}

In [13]:
age_count.items()

dict_items([(2, 1638), (3, 5056), (4, 3198), (5, 2244), (9, 6), (7, 193), (6, 460), (8, 57), (1, 18)])

In [21]:
print([k for k, v in age_count.items() if max(age_count.values())==v][0]*10)

30

In [26]:
# 정답
r=(df['age']//10 *10).value_counts()
print(r)

30    5056
40    3198
50    2244
20    1638
60     460
70     193
80      57
10      18
90       6
Name: age, dtype: int64

In [27]:
r = (df['age']//10 *10).value_counts().index[0]

In [28]:
print(r)

30

## Q2 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [30]:
(df['age']//10 *10).value_counts().values[0]

5056

## Q3 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [41]:
print(len(df.loc[(25<=df['age'])&(df['age']<29)][df['housing']=='yes']))

504

/var/folders/2w/p0pl3hm93j79mtz1wnlcgq1c0000gn/T/ipykernel_9063/2855520292.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(len(df.loc[(25<=df['age'])&(df['age']<29)][df['housing']=='yes']))

In [43]:
print(df[(25<=df['age'])&(df['age']<29)&(df['housing']=='yes')].shape[0])

504

## Q4 numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [53]:
ddd=list(df.select_dtypes(include='object').columns)

In [95]:
count_unique=dict()
for col in ddd:
    count_unique[col]=len(df[col].unique())

In [98]:
aa=pd.DataFrame.from_records([count_unique])

In [99]:
aa

,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,12,3,4,2,2,2,3,12,4,2

In [86]:
lst= [] 
for col in df.select_dtypes(exclude='int'):
    target = df[col]
    lst.append([col,target.nunique()])

result = pd.DataFrame(lst).sort_values(1,ascending=False).values[0][0]
print(result)

job

In [100]:
dddd=pd.DataFrame(lst).sort_values(1,ascending=False)

In [101]:
dddd.values

array([['job', 12],
       ['month', 12],
       ['education', 4],
       ['poutcome', 4],
       ['marital', 3],
       ['contact', 3],
       ['default', 2],
       ['housing', 2],
       ['loan', 2],
       ['y', 2]], dtype=object)

In [69]:
pd.DataFrame.from_dict(count_unique)

ValueError: If using all scalar values, you must pass an index